<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/ppw_story_8.css' %}">
</head>

<body>
    <div class="container">
    <div class="buttons">
    <button class="swapUp"></button>
    <button class="swapDown"></button>
    <button class="accordion" id="acc1">Accordion 1</button>
    </div>
    <div class="content" id="1">
        <p>Accordion 1 Content</p>
    </div>
    </div>
    
    <div class="container">
    <div class="buttons">
    <button class="accordion" id="acc2">Accordion 2</button>
    <button class="swapUp"></button>
    <button class="swapDown"></button>
    </div>
    <div class="content" id="2">
        <p>Accordion 2 Content</p>
    </div>
    </div>

    <div class="container">
    <div class="buttons">
    <button class="accordion" id="acc3">Accordion 3</button>
    <button class="swapUp"></button>
    <button class="swapDown"></button>
    </div>
    <div class="content" id="3">
        <p>Accordion 3 Content</p>
    </div>
    </div>

    <script src="{% static '/js/ppw_story_8.js' %}"></script>

</body>

</html>