body{
    background-color: black;
}

.buttons{
    display: flex;
    flex-flow: row wrap;
}

.swapUp{
    content: '\2191';
    background-color: rgb(50, 50, 50);
    color:white;
    cursor: pointer;
    width: 50px;
    padding: 18px;
    text-align: center;
    border: none;
    outline: none;
    flex-grow: 1;
    order: 2;
}

.active, .swapUp:hover{
    background-color: rgb(100, 100, 100);
}

.swapUp::after{
    content: '\2191';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.swapDown{
    content: '\2193';
    background-color: rgb(50, 50, 50);
    color:white;
    cursor: pointer;
    width: 50px;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    flex-grow: 1;
    order: 3;
}

.active, .swapDown:hover{
    background-color: rgb(100, 100, 100);
}

.swapDown::after{
    content: '\2193';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion{
    background-color: rgb(50, 50, 50);
    color:white;
    cursor: pointer;
    width: 80%;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    flex-grow: 8;
    order: 1;
}

.active, .accordion:hover{
    background-color: rgb(100, 100, 100);
}

.accordion::after{
    content: '\2795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active::after{
    content: '\2796';
}

.content{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}